.acordeon {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0;
  border: 1px solid whitesmoke;
  border-radius: 24px;
  transition: 0.25s ease;

  &:hover {
    cursor: pointer;
    background-color: rgba(85, 86, 158, 1);
    border-color: #55569e;
  }

  &.active {
    border: none;
  }

  .content {
    display: block;
    height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease;
  }

  .trigger {
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1rem;
    background-color: transparent;
    color: whitesmoke;
    border: none;
  }

  &.active {
    .content {
      height: auto;
      padding: 1rem 1rem 2rem 1rem;
      transition: max-height 0.25s ease;
    }

    ::before {
      content: "";
      position: absolute;
      border-radius: 24px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(85, 86, 158, 1);
      z-index: -1;
    }
  }
  .arrow {
    width: 1.5rem;
    height: 1rem;
  }
}

@media (max-width: 576px) {
  .acordeon .trigger {
    font-size: 1rem;
  }
}
