header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menu-icon {
  position: absolute;
  width: 1.5rem;
  top: 0.5rem;
  right: 0;
}

.photo {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #848484;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.text-container {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    margin: 0;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.938);
    text-transform: uppercase;
    font-weight: 700;
  }
}

.info {
  font-family: "Bebas Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  a {
    text-decoration: none;
    color: #848484;
  }

  p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
  }
}

.info p.job::before {
  content: "";
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  background-image: url("/public/images/user.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 0.5rem;
}

.info p.location::before {
  content: "";
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  background-image: url("/public/images/location.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 0.5rem;
}

.info p.phone::before {
  content: "";
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  background-image: url("/public/images/phone.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 0.5rem;
}

.info p.email::before {
  content: "";
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  background-image: url("/public/images/mail.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 0.5rem;
}

@media (max-width: 576px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1 {
    text-align: center;
  }
}
