@use "header";
@use "acordeon";
@use "lang";
@use "projects";
@use "experience";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  background-color: #000;
  color: rgb(231, 231, 231);
}

.main {
  padding: 1rem;
  margin: 1rem;
  border: 5px solid #ccc;
  border-radius: 1rem;
  position: relative;
  max-width: 1024px;

  &::before {
    content: "";
    display: inline-block;
    background-image: url("/public/images/top-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    top: 0;
    left: 0;
    width: 80vw;
    height: 100vh;
    z-index: -1;
  }

  &::after {
    content: "";
    display: inline-block;
    background-image: url("/public/images/bottom-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 140vh;
    z-index: -1;
  }
}

.main .dio-img {
  margin: 1.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 48px;
  height: 20px;
  display: inline-block;
}
